body {
    /* Set "my-sec-counter" to 0 */
    counter-reset: my-sec-counter;
}


count::before {
    /* Increment "my-sec-counter" by 1 */
    counter-increment: my-sec-counter;
    content: counter(my-sec-counter) ;
}

.table tbody td.status .active {
    background: #cff6dd;
    color: #1fa750;
}
.table tbody td.status span {
    position: relative;
    border-radius: 30px;
    padding: 4px 10px 4px 25px;
}
td.status span:after {
    position: absolute;
    top: 9px;
    left: 10px;
    width: 10px;
    height: 10px;
    content: '';
    border-radius: 50%;
}
.table tbody td.status .active:after {
    background: #23bd5a;
}
.table tbody td .img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
.table tbody td .img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
.table tbody td .email span {
    display: block;
}
.table tbody td.status .waiting {
    background: #fdf5dd;
    color: #cfa00c;
}
.table tbody td.status .waiting:after {
    background: #f2be1d;
}
.table tbody td.status .danger {
    background: #fd6f48;
    color: rgba(170, 14, 9, 0.74);
}
.table tbody td.status .danger:after {
    background: #f21b21;
}
